<!Doctype html>
<html>
    
    
<head>
    <title>Bukbuddy</title>    

</head>

    
    
<body>
    
<form name="Search" method = "post"> 
    <input type ="text" name="SearchBar"/><input type="submit" name="searchButton" value="Search"/>
</form>
    
    <br>
    
    {% for tweet in response %}
    
    {{ tweet.text }}
    
    {% endfor %}
</body>
    
</html>