<!DOCTYPE html>

<head>
    <title>BookBuddy</title>
    <link rel="stylesheet" type="text/css" href="main.css">

    <script>
        
        
        /*

        //AIzaSyCDfVEuaIVuoMGRtnpus0Dl6P1AH5DCRw4  google books api key for cannr321group.appspot.com
        //add key=yourAPIKey to end of api base url 
        
    </script>
     
</head>
     
<html>
     
<body>
    
    
<form name="Search" method="post">
    
    <input type="text" name="searchBar"/> <input type="submit" name="searchButton" value="Search"/>

</form>
    
    <br>
    
      {% for item in items %}

    {% if item.volumeInfo.title %}
        <u>Title:</u><br> <td>{{ item.volumeInfo.title }}</td><br><br>
    {% endif %}
    
    {% if item.volumeInfo.authors %}
        <u>Authors:</u><br> <td>{{ item.volumeInfo.authors[0] }}</td><br><br> 
    {% endif %}
    
    {% if item.volumeInfo.industryIdentifiers %}
        <u>ISBN:</u><br> <td>{{ item.volumeInfo.industryIdentifiers[0].identifier }}</td><br><br>
    {% endif %}
    
    {% if item.volumeInfo.description %}
        <u>Description:</u> <br><td>{{ item.volumeInfo.description }}</td><br><br>
    {% endif %}
    
    {% if item.volumeInfo.imageLinks %}
        <br><td><img src="{{ item.volumeInfo.imageLinks.thumbnail }}"></td><br>
    {% endif %}
    
    <br><br>
    -----------------------------------------------------------------------------
    <br><br><br>
              {% endfor %}
    
</body>     
     
     
</html>