<!DOCTYPE html>

 <head>
     
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp"  type="text/javascript"></script>
<script type="text/javascript">//^^^ geoplugin = api, is used like importing a library so you can use inbuilt functions
{% autoescape false %}
   
function getLocation()
  {
  if (geoplugin_latitude() != "")
    {
      document.forms["frm1"]["latlon"].value = geoplugin_latitude() +","+geoplugin_longitude();
      document.forms["frm1"]["country"].value = geoplugin_countryName();
        console.log(geoplugin_latitude())
    }
  else {
     document.forms["frm1"]["latlon"].value ="Error";
  }}
function showPosition(latlon,id)
  {
  var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
  +latlon+"&zoom=14&size=400x300&sensor=false"; // creates a variable containing the image from google maps, centered on users latitude and longitude
  document.getElementById(id).innerHTML="<img src='"+img_url+"'>";//Assigns the image of google maps to whatever has id of id
  }
  
{% endautoescape %}
</script> 
     
     
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
{% autoescape true %}
<html>
  <body>
      
      The Current Topic Is: {{guestbook_name}}<!-- Displays the current datastore -->
      
      <br><br>
      
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      
            {% if greeting.latlonpos == 'Error' %}
             {{greeting.latlonpos}}
            {% else %}
               {% autoescape false %}
               <button onclick="var latlon = '{{greeting.latlonpos}}'; showPosition(latlon,{{greeting.key.id()}})">
               Display chat user location</button>
            <div id="{{greeting.key.id()}}"></div> Lat Lon {{greeting.latlonpos}} Country = {{greeting.place}}
            {% endautoescape %}
           {% endif %}
      
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form name="frm1" action="/sign?guestbook_name={{ guestbook_name }}" method="post">      
        <div><textarea name="content" rows="3" cols="60"></textarea></div>
        <input type="hidden" name = "latlon"/>
        <input type="hidden" name = "country"/>
      <div><input type="submit" value="Leave a message" onclick="getLocation();document.frm1.submit();"></div>
    <hr><hr>
        <br><!--latlon+country is hidden because it is only used when the onClick function is called and getLocation is used -->
      
    </form>

    <form> Topics:
        <select name = "guestbook_name">
            <option value="action">Action</option>
            <option value="horror">Horror</option>
            <option value="comedy">Comedy</option>
        </select>
          <input type="submit" value = "switch">
      </form>
    <hr>
 <hr>
      <!--when a dropdown list value is selected the word is added to the url and becomes a datastore using URLlib in py file -->
      <br><br><br>
      
      <a href="googlemapsapi.html">GO TO THE MAP</a>
      
      
    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
