{% block bodycontent %}
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script type="text/javascript">
{% autoescape false %}
   
function getLocation()
  {
  if (geoplugin_latitude() != "")
    {
      document.forms["frm1"]["latlon"].value = geoplugin_latitude() +","+geoplugin_longitude();
      document.forms["frm1"]["country"].value = geoplugin_countryName();
    }
  else
     document.forms["frm1"]["latlon"].value ="Error";
  }

function showPosition(latlon,id)
  {
  var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
  +latlon+"&zoom=14&size=400x300&sensor=false";
  document.getElementById(id).innerHTML="<img src='"+img_url+"'>";
  }
  
{% endautoescape %}
</script>


<h1>Chat Box:</h1>
      {% autoescape false %}
      <p>
      <form name="frm1" method="post" action="/chat">
      <input type="text" name="message" size="60"/>
      <input type="hidden" name = "latlon"/>
      <input type="hidden" name = "country"/>
      <input name="submit_item" id="btn_sub" onclick="getLocation();document.frm1.submit();" type="button" value="Chat"/>
      </form>
      </p>
      {% endautoescape %}
      {% if error %}
       <p>
       {{ error }}
       </p>
      {% endif %}
{% autoescape true %}
      <table>
      {% for chat in chat_list %}
        <tr>
           <td>{{ chat.text }} (posted by user: {{chat.user}} on {{ chat.created.strftime('%Y-%m-%d')}})</td>
           <td>
           {% if chat.latlonpos == 'Error' %}
             {{chat.latlonpos}}
            {% else %}
               {% autoescape false %}
               <button onclick="var latlon = '{{chat.latlonpos}}'; showPosition(latlon,{{chat.key.id()}})">
               Display chat user location</button>
            <div id="{{chat.key.id()}}"></div> Lat Lon {{chat.latlonpos}} Country = {{chat.place}}
            {% endautoescape %}
           {% endif %}
           </td>
        </tr>
      {% endfor %}
      </table>
      {% endautoescape %}
{% endblock %}